---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = '소개 페이지';

const identity = {
  firstName: '루시드',
  country: '대한민국',
  occupation: '개발자',
  hobbies: ['일본어', '드라마', '게임'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro'];
---

<BaseLayout pageTitle={pageTitle}>
  <p>간단한 정보</p>
  <ul>
    <li>이름: {identity.firstName}</li>
    <li>국적: {identity.country}</li>
    <li>직업: {identity.occupation}</li>
    <li>취미: {identity.hobbies.join(', ')}</li>
  </ul>
  <p>보유 기술</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
